<!DOCTYPE html>
<html>

<body>
  <script src="./lib/vue.js"></script>
  <script language="javascript" src="./lib/lz-string.js"></script>
  <link rel="stylesheet" href="style.css">


  <div id="app">
    <div>
      <button v-on:click="toggle_settings()">Toggle Settings</button>
      <br>
      Current Question: {{current_question_type}}
      <br>
      Current Round: {{round+1}}
      <br>
      Current Card: {{current_card+1}} / {{cards.length}}
      <br>
      Correct Answer: {{correct_answer_index+1}}
      <br>
      <br>
      <div v-if="is_settings_hidden()">
        <div>

          <table style="width:30%;">
            <tr style="width:100%;">
              <td style="width:75%;">{{current_question_type!='name'? cards[question_order[current_card]].name : '???'}}</td>
              <td style="width:25%;">{{current_question_type!='mana_cost'? cards[question_order[current_card]].mana_cost : '???'}}</td>
            </tr>
            <tr style="width:100%;">
              <td colspan="2"><img v-for="art_link in cards[question_order[current_card]].art_links" style="width:100%;" :src="art_link" :alt="'oops'" /></td>
            </tr>
            <tr style="width:100%;">
              <td colspan="2">{{current_question_type!='type'? cards[question_order[current_card]].type : '???'}}</td>
            </tr>
            <tr style="width:100%;">
              <td colspan="2">{{current_question_type!='oracle_text'? cards[question_order[current_card]].oracle_text : '???'}}</td>
            </tr>
          </table>

          <br>
          <br>
          <button v-on:click="answer_question(0)">{{current_question_options[0]}}</button>
          <br>
          <button v-on:click="answer_question(1)">{{current_question_options[1]}}</button>
          <br>
          <button v-on:click="answer_question(2)">{{current_question_options[2]}}</button>
          <br>
          <button v-on:click="answer_question(3)">{{current_question_options[3]}}</button>
          <br>


          <div style="float:left;">
            <div v-if="((current_card-1) >= 0)">
              <div>
                <img v-for="card_link in cards[question_order[current_card-1]].card_links" :src="card_link" :alt="'oops'" />
              </div>
            </div>
            <div v-if="((current_card-2) >= 0)">
              <div>
                <img v-for="card_link in cards[question_order[current_card-2]].card_links" :src="card_link" :alt="'oops'" />
              </div>
            </div>
            <div v-if="((current_card-3) >= 0)">
              <div>
                <img v-for="card_link in cards[question_order[current_card-3]].card_links" :src="card_link" :alt="'oops'" />
              </div>
            </div>
            <div v-if="((current_card-4) >= 0)">
              <div>
                <img v-for="card_link in cards[question_order[current_card-4]].card_links" :src="card_link" :alt="'oops'" />
              </div>
            </div>
            <div v-if="((current_card-5) >= 0)">
              <div>
                <img v-for="card_link in cards[question_order[current_card-5]].card_links" :src="card_link" :alt="'oops'" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="!is_settings_hidden()">
        <div>
          <input v-model="seed_string" placeholder="example: legal:modern">
          <button v-on:click="toggle_settings()">Close</button>
          <button v-on:click="seed_cards()">Seed Cards</button>
          <button v-on:click="downloadData()">Download Save Data</button>
          <br>
          <div>
            Load save file:
            <label for="input-file">Specify a file:</label><br>
            <input type="file" id="input-file" v-on:change="uploadData($event)">
          </div>
          <br>
          <br>
          <br>
          <button v-on:click="clearData()">Delete Save Data</button>

          <br>
        </div>
      </div>
    </div>
  </div>


  <script src="./main.js"></script>
</body>

</html>
