body {
  background-color: white;
}



table {
  border: 1px solid black;
}

tr {
  border: 1px solid black;
}

td {
  border: 1px solid black;
}

.centered {
  margin: auto;
}

button {
  width: auto;
}


.bottom_bar {
  width: 90vw;
  height: 25vh;
  bottom: 0;
  left: 5vw;
  position: absolute;
}

.bottom_bar img {
  height: 20vh;
}

.top_left_bar {
  width: 25%;
  top: 0;
  left: 0;
  position: absolute;
}

.container {
  width: 100%;
  height: 100%;
}


.results_container {
  width: 70vw;
  height: 60vh;
  position: absolute;
  top: 0;
  left: 30vw;
  font-size: larger;
}

.results_container img {
  height: 100%;

}

.results_container button {
  font-size: larger;
}

.question_container {
  height: 70vh;
  top:5vh;
  width: 70vw;
  left: 20vw;
  position: absolute;

}

.left_section {
  width: 35%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

.right_section {
  width: 49%;
  height: 70%;
  right: 0;
  top: 20%;
  position: absolute;
}
